@import url("global.css"); 

body {
    min-width: 420px; 
}

#primera-vista {
    background-image: url("../img/option2.jpg");
    background-size: cover;
    background-position: top;
    height: calc(100vh - var(--header-height)); 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px; 
}

#primera-lado-izquierdo {
    margin-right: 7vw; 
}

#titulo-principal {
    color: var(--white-font); 
    font-size: 8vw; 
    margin-bottom: 15px;
}

#botones {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    column-gap: 50px; 
}

.boton-principal {
    width: 20vw; 
    margin-bottom: 20px; 
    font-size: 20px;
    letter-spacing: 2px; 
}

.boton-principal.log {
    background-color: var(--contrast-color); 
    transition-property: color;
    transition-duration: 0.25s; 
}

.boton-principal.log:hover {
    color: var(--white-font); 

}

.boton-principal.sign {
    border: 1px solid var(--contrast-color); 
    background-color: unset;
    color: var(--white-font); 
    transition-property: background-color;
    transition-duration: 0.5s;
}

.boton-principal.sign:hover {
    background-color: var(--contrast-color); 
    color: var(--white-font); 
}

#segunda-vista {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px; 
    margin-bottom: 40px; 
}

#frase-imagen {
    width: 30vw; 
    height: 50vh; 
    object-fit: cover;
}

#frase {
    width: 40vw; 
    font-size: 4vw;
    text-align: left;
}

.divisor {
    width: 70vw; 
    border-bottom: 2px solid var(--black); 
    margin-bottom: 50px; 
}

#tecera-vista {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px; 


}


#tercera-vista-izquierdo {
    width: 40vw; 
}

#tercera-vista-titulo {
    font-size: 3.5vw;
    margin-bottom: 20px; 
}

#tercera-vista-texto {
    font-size: 20px; 
    text-align: justify;
}

#video {
    width: 35vw; 
    height: 400px; 
}


@media (max-width: 780px) {
    #segunda-vista {
        padding: 0px 50px; 
    }
    
    #frase {
    width: 42vw; 
    font-size: 5vw;
    }
}

@media (max-width: 670px) {
    .boton-principal {
        font-size: 15px;
        letter-spacing: 1px; 
    }

}